<?xml version="1.0" ?>
<config>
	<modules>
		<aoe_searchperience>
			<version>0.1.0</version>
		</aoe_searchperience>
	</modules>

	<global>
		<blocks>
			<aoe_searchperience>
				<class>Aoe_Sarchperience_Block</class>
			</aoe_searchperience>
		</blocks>

		<helpers>
			<aoe_searchperience>
				<class>Aoe_Sarchperience_Helper</class>
			</aoe_searchperience>
		</helpers>

		<models>
			<aoe_searchperience>
				<class>Aoe_Sarchperience_Model</class>
			</aoe_searchperience>
		</models>


	</global>
	<frontend>
		<layout>
			<updates>
				<aoe_searchperience>
					<file>aoe_searchperience.xml</file>
				</aoe_searchperience>
			</updates>
		</layout>
	</frontend>


</config>
