

/* Horizontal Menu
------------------------------ */
#aoe_solr .nav-h { overflow: hidden; }
#aoe_solr .nav-h li { float: left; list-style: none;}
#aoe_solr .nav-h a { display: block; }

/* Vertical Menu
------------------------------ */
#aoe_solr .nav-v { border-top: 1px solid #ccc; }
#aoe_solr .nav-v li { padding: 2px 0; list-style: none; border-bottom: 1px solid #ccc; }
#aoe_solr .nav-v li ul { padding-left: 1em; margin-top: 2px; }
#aoe_solr .nav-v li li { border: none; border-top: 1px solid #ccc; }
#aoe_solr .nav-v a { text-decoration: none; display: block; }
#aoe_solr .nav-v a:hover { text-decoration: underline; }


/* Text align, float
------------------------------ */
#aoe_solr .a-left { text-align: left; }
#aoe_solr .a-center { text-align: center; }
#aoe_solr .a-right { text-align: right; }

#aoe_solr .f-l { float: left; }
#aoe_solr .f-r { float: right; }

/* Images
------------------------------ */
#aoe_solr img.f-left { margin-right: 1em; }
#aoe_solr img.f-r { margin-left: 1em; }

/* Main structure
------------------------------ */
#aoe_solr .l-sidebar,
#aoe_solr .l-content		{ float: left; }

#aoe_solr .l-sidebar		{ width: 207px; margin: 18px 32px 0 0; }
#aoe_solr .l-content		{ width: 497px; margin: 0 32px 30px 0; padding: 24px 0 0 0; }
#aoe_solr #second-bar		{ width: 173px; margin: 0 0 30px 0; padding: 3px 0 0 0; }




/* Main content elements
------------------------------
#content 				{ overflow:hidden; position:relative; z-index: 10;}
#content h1,
#content h2,
#content h3,
#content h4 			{ font-weight:bold; color:#000; line-height:30px; margin: 26px 0 17px 0;}
#content h1 			{ font-size:24px; letter-spacing:-1px;}
#content h2				{ font-size:21px; letter-spacing:-1px;}
#content h3				{ font-size:18px; margin-bottom: 8px; }
#content h4				{ font-size:15px; margin-bottom: 8px; }
#content h2:first-child			{ margin-top: 0; }
#aoe_solr .title 			{ font-size:14px; color:#000; line-height:18px; font-weight:bold; margin-bottom:8px;}
#aoe_solr .title a 			{ color:#000;}
#aoe_solr .page-title
	.bu-small			{ margin: -2px 0 0 0!important; }
#aoe_solr .page-title		{ font-size:24px; margin: 4px 0 24px 0; font-weight:bold;;}
#aoe_solr .subtitle 		{ font-size:14px; color:#919191;}

#content ul { margin: 0 0 20px 20px; }
#content ul li { list-style: disc; }
*/

/* Simple tabs
--------------------------------------- */

#aoe_solr .b-simple-tabs { border-bottom: 1px solid #ccc; padding: 0 0 0 10px; height: 32px; }
#aoe_solr .b-simple-tabs ul { overflow: hidden; }
#aoe_solr .b-simple-tabs li { float: left; margin: 0 6px 0 0; border: 1px solid #dfdfdf; border-width: 1px 1px 0 1px; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0;
	background: #f1f2f2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#e8e9ea));
	background: -moz-linear-gradient(#fafafa, #e8e9ea);
	background: linear-gradient(#fafafa, #e8e9ea);
	-pie-background: linear-gradient(#fafafa, #e8e9ea);
	list-style: none outside none;
}
#aoe_solr .b-simple-tabs a { padding: 0 15px; line-height: 31px; height: 31px; text-decoration: none; color: #000; }
#aoe_solr .b-simple-tabs .cur { background: #fff; height: 32px; }



/* Navigation block
------------------------------ */
#aoe_solr  .b-nav-tree { font-size: 13px; }
#aoe_solr  .b-nav-tree ul, #aoe_solr .b-nav-tree { margin: 0; }
#aoe_solr .b-nav-tree li { list-style: none; list-style: none; position: relative; }
#aoe_solr .b-nav-tree a { display: block; text-decoration: none; color: #f47026; border-bottom: 1px solid #dedede; padding: 5px 25px 6px 13px; }
#aoe_solr .b-nav-tree ul a { padding-left: 24px; }
#aoe_solr .b-nav-tree ul ul { font-size: 12px; }
#aoe_solr .b-nav-tree ul ul a { padding: 6px 20px 5px 36px; }
#aoe_solr .b-nav-tree .cur > a { color: #000; font-weight: bolder; background-color: #F6F6F6}

#aoe_solr .b-nav-tree .i { position: absolute; width: 9px; height: 13px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAANCAMAAACTkM4rAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFQTFRFPDw82NjY1tbWMzMz4uLiPz8/09PTISEhbGxszs7O2dnZaWlpCQkJNjY2OTk53t7e+Pj4+fn54eHh0tLSHh4e/Pz88PDw19fXAAAAzMzM////+qqs8gAAAGFJREFUeNpkzlkOgCAMBNAC7juICr3/QYWJGIV+TV4m6ZCRg+Z4o6oNAh2Xb2Dn7FoYcbA9mTWgwgLlFikzEOveCwQzOXpbG1qLsysVkj5+5Nn1Faz/C1MlBYQ7RRC+BRgAnOQT19mZkjQAAAAASUVORK5CYII=); }
#aoe_solr .b-nav-tree > li > .i { top: 9px; right: 11px; }
#aoe_solr .b-nav-tree > .cur > .i { background-position: -9px 0; }
#aoe_solr .b-nav-tree ul > li > .i { top: 10px; left: 13px; background: #f47026; width: 4px; height: 4px; }
#aoe_solr .b-nav-tree ul > .cur > .i { background: #000; }
#aoe_solr .b-nav-tree ul li .i { top: 11px; left: 13px; background: #f47026; width: 4px; height: 4px; }
#aoe_solr .b-nav-tree ul .cur > .i { background: #000; }
#aoe_solr .b-nav-tree ul ul .i { top: 12px; left: 26px; width: 3px; height: 3px; }
#aoe_solr .b-nav-tree ul ul .cur  { background-color: #F6F6F6; }

/* Filter block
------------------------------ */
#aoe_solr .b-filter { margin: 0 0 20px 0 }
#aoe_solr .b-filter-head { position: relative; padding: 5px 13px 8px 13px; color: #000; font-size: 13px; }
#aoe_solr .b-filter-head  a.resetfilterlink {float: right; background: url(data:image/gif;base64,R0lGODlhCwALANUAAAAAAP///////v39/fz8/Pj4+Pf39/b29vT09PLy8vDw8O/v7+zs7Onp6ebm5uXl5eTk5OPj4+Hh4d7e3t3d3dHR0dDQ0M/Pz729vby8vKysrKampp6enpycnJaWloCAgH19fXl5eWBgYFpaWllZWVhYWEpKSkFBQT09PTk5OTc3NygoKCAgIBYWFhQUFA8PDwsLCwgICAUFBQICAgEBAf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADUALAAAAAALAAsAAAY3wJpwSCwahZiWZxhaWYapWacGApSKJ5iJNjqyAKrjR+aKcYohgOiCAiyFGQBpqHpVhpui5mgMAgA7) no-repeat right 3px; padding-right: 15px; font-size: 11px; }
#aoe_solr .b-filter-head  a.resetfilterlink span {visibility: hidden}
#aoe_solr .b-filter-head  a.resetfilterlink:hover span {visibility: visible}
#aoe_solr .b-filter-toggle { color: #888; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; height: 22px; background-color: #f8f8f8; border-bottom: 1px solid #eee; padding-top: 3px; text-align: center}
#aoe_solr .b-filter-toggle-icon {  }
#aoe_solr .b-filter-toggle-on .toggle-open {display: none}
#aoe_solr .b-filter-toggle-off .toggle-close {display: none}
#aoe_solr .b-filter-toggle-on .b-filter-toggle-icon { background-position: 0 0; }
#aoe_solr .b-filter-toggle-off .b-filter-toggle-element { display: none; }
#aoe_solr .b-filter-body { font-size: 12px; color: #888; padding: 10px 14px; background: #f6f6f6; border: 1px solid #ccc; border-width: 1px 0; }
#aoe_solr .b-filter-body .reset { font-size: 11px; margin: 0 0 10px; display: block; }
#aoe_solr .reset a { text-decoration: none; }

#aoe_solr .b-filter-list { margin: 0; padding:0}
#aoe_solr .b-filter-list li { /*margin: 0 0 5px 0;*/ list-style: none; padding: 5px 10px 5px; }
#aoe_solr .b-filter-list input { position: absolute; left: 5px; top: 2px; }
#aoe_solr .b-filter-list a { color: #888; text-decoration: none;  display: block; }
#aoe_solr .b-filter-list a:hover { color: #FF5700; }
#aoe_solr .b-filter-list .cur a { color: #000; font-weight: bold; }
#aoe_solr .b-filter-list .cur { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAMAAAA4jZ0cAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMxQTFRF////9Hcy9HEo9HAm+LmW+sWn9IE//fDp+s+4/N/O9oxS+LWP9Hw69H47/fHp9IdJ/erf/ene96N0/fXw/fHq+KZ4+9G5+bSP9IJC9pNc+biV951q9YhK/N7M+9bA9INE+suw+baQ/ezi96Nz9HUv+bmW96Jz9IA+9HEn/N/P+KyC9HIq96h7+ser/vn1/OTX/vz79Ho19p9u9YRF/eXZ9pNb/vn39YpP9Hs39Hcw9Hgy9HUu/OHS/vr49YtR+sap/NvJ+Kp++9rH+9jGege6LQAAAFtJREFUeNpiYNBkN9AT5GRgEDNi0Xd2VHZgEGU01lIz5JViUDW3trJkNNVlMONWZ2aWYbVlMBGyYNKQUFRi4FLR5pdn4tFhEGeT5rCXtFNgEJCzERaRdeIDCDAAbvAI7UTF+V8AAAAASUVORK5CYII=) no-repeat 158px 8px transparent; }

#aoe_solr .b-filter-colorlist {  }
#aoe_solr .b-filter-colorlist .i { display: inline-block; width: 13px; height: 13px; position: relative; top: 2px; margin: 0 13px 0 0; }
#aoe_solr .b-filter-colorlist li { padding-left: 0; }

#aoe_solr .b-filter-selectablelist .i { width: 13px; height: 13px; display: inline-block; margin: 0 13px 0 0; position: relative; top: 1px; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAaCAIAAADjWkEIAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYFJREFUeNqMk81x20AMhYEHLFOEJzO+Jof0oqtOLkUF5Oga0oe78FV9iEA+cHw2BQ051BL7/rD0l8vN29rNbW8LlT1ky6xtqszieE6aPv5eeWvy1V2xIi21KRZPEeHqP2/vCRJN7vyVPE2ZVqmVwVKyx3zbbU/oQKLJwxvG7NCPWFKEBMjmnskONIV1etK05WIPYCzJNzl6zWXVLJZMq5QgTdNaKVaoQmKDwN7qfKhGuBV0IwuRCNPgxSHGy/cAxsbdcC0k2YEE3XKSisItP6+CzMDfAi0xmqBztFt4cm/FgIPFRU5NBON59hx0RRPI9NeEXVkHFfREgLsRHj7haigMbXPPjHYhyxFETKyICY0mFGDOAmFdu/+83I45kjj258Idwr/GS640JfHRPjOPveclb/ZuH7eHYZzgA7+wfL7+s2/r9/06IzwtzoHmHJwV0tVzEE9q/M05OCtC0EN1ro+juM5tGHGq7anSc231hLohTsUTQTNivsv+db+enoP/AgwAJ82W4Wj3lAQAAAAASUVORK5CYII=); }
#aoe_solr .b-filter-selectablelist .cur .i { background-position: 0 -13px; }

/* Pager block
------------------------------ */
#aoe_solr .paging { font-size: 13px; margin: 0 0 20px 0; padding: 10px 0 0 0; border-top: 1px solid #acaeb1; }
#aoe_solr .paging a { text-decoration: none; color: #FF5700!important; }
#aoe_solr .paging a:hover { text-decoration: underline; }
#aoe_solr .paging li { list-style: none; display: inline; padding: 0 4px 0 0; }

/* Items List
------------------------------ */
#aoe_solr .b-list-head { overflow: hidden; font-size: 13px; height: 40px; }
#aoe_solr .b-list-head-sorting {  }
#aoe_solr .b-list-head-sorting label { margin: 0 15px 0 0; }
#aoe_solr .b-list-head-count { float: right; margin: 0 40px 0 0; }
#aoe_solr .b-list-head .paging { float: right; }

#aoe_solr .b-item { margin: 0 0 25px 0; overflow: hidden; }
#aoe_solr .b-item-pic { float: left; margin: 0 12px 0 0; width: 130px; text-align: center; }
#aoe_solr .b-item-pic img { display: block; margin: 0 auto; }
#aoe_solr .b-item h2 { font-size: 13px; font-weight: bold; margin: 0 0 8px 0; line-height: normal; }
#aoe_solr .b-item p { margin: 0 0 2px 0; }
#aoe_solr .b-item-text { margin: 0 0 5px 0!important; }
#aoe_solr .b-item-text em { font-weight: bold; font-style: normal; }
#aoe_solr .b-item-tag { font-size: 11px; display: inline-block; margin: 0 5px 0 0; }
#aoe_solr .b-item-tag, #aoe_solr .b-item-link, #aoe_solr .b-item-meta { font-size: 11px; }
#aoe_solr .b-item-meta { color: #a4a4a4; }
#aoe_solr .b-item.with-pic h2,
#aoe_solr .b-item.with-pic .b-item-text,
#aoe_solr .b-item.with-pic .b-item-meta { padding-left: 143px; }

/* Sidebar box
--------------------------------------- */
#aoe_solr .b-box { margin: 0 0 25px 0; }
#aoe_solr .b-box dt { /*padding: 9px 17px; */ min-height: 16px; padding: 20px 17px 8px; }
#aoe_solr .b-box dd { background: #f5f5f5; border: 1px solid #ccc; border-width: 1px 0; padding: 13px 19px 16px 19px; font-size: 11px; line-height: 16px; }
#aoe_solr .b-box p { margin: 0; }
#aoe_solr .b-box .pic { border: 1px solid #dedede; margin: 0 0 12px 0; background: #fff; }
#aoe_solr .b-box .pic img { display: block; }
#aoe_solr .b-box h2 { font-weight: bold; font-size: 13px; line-height: 19px; margin: 0 0 12px 0; }

/* Related results
--------------------------------------- */
#aoe_solr .b-related {  }
#aoe_solr .b-related h2 { margin: 0; }
#aoe_solr .b-related p { margin: 0 0 12px 0; }

/* Resultinfo block
--------------------------------------- */
#aoe_solr .b-resultinfo { color: #9a9a9a; font-size: 12px; margin: 0 0 10px 0}

/* Price range block
--------------------------------------- */
#aoe_solr .ui-widget-content {border-width: 0px;}
#aoe_solr .ui-slider { height: 35px; position: relative; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAAFCAIAAAA8DYnVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEBJREFUeNrs1LENwDAIAMEkcs8G7C8GpENy5kB3I3zxb1U9ACwyMyczhQDYpLtPRAgBsMn3UwFg4d8lANjnCjAAVigIcmYB0SsAAAAASUVORK5CYII=) no-repeat right 8px; margin: 0 6px 20px; }
#aoe_solr .ui-slider-handle { padding-top: 26px; height: 12px; width: 40px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAaCAYAAABsONZfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZFJREFUeNqUlM9LwlAcwPfMH6x0QUVdBiMM7KIXD+FloOAfU/THBEKdRPHSoYg6C8q8eBBFvKiwo0JYm+5QMFyu7/cxw3y6uS989n1s389+vPd9IxxErVa7h3TNecdDLpe7CcIggEI6nfY02u023vgWhQjnLyIohX1K4YDzen4i4FegEVwOLMuiudlsMkWZTGazNJ/Pac7n84w0nU43S6Zp0lytVhkpmUy6S9lslpHG47G7VK/XGUmSJPdvkmWZkVRVdZ+9wWCw+5QvFgv/6xQKhfxL0WjUs9gwjP9SLBbbvfnwMJlMnjRN43ie38psNqN1WL+H+6PRaPRTqdQZXLwUBIEjhDCLCxvwrVAo3I1Go3c8xwPnwFW5XH7pdDq2rus29Bul1+vZlUrlVRRF2anjl08TgDiKpVLpudVq2fC6drfbpQKeBy6AQ6eeY8RisfioKIqN2RHiqwJZm5QD4BQ4SSQSR8PhUIfxJ/ABfAE/69KqeAzsA9+A5gh/LUO2LAP+obBFsIvNVcEryLYLvwIMAPICl6lRvkIAAAAAAElFTkSuQmCC) no-repeat top center; position: absolute; margin: 0 0 0 -20px; line-height: 11px; font-size: 11px; text-decoration: none; color: #000; text-align: center;border-width: 0px; }
#aoe_solr .ui-slider-handle span { position: absolute; top: 30px; }
#aoe_solr .ui-slider-first span { left: 35%; }
#aoe_solr .ui-slider-second span { right: 35%; }
#aoe_solr .ui-slider-range { background: #e36823; border-bottom: 3px solid #f47026; border-top: 1px solid #c1591e; position: absolute; height: 1px; top: 8px; }

#aoe_solr .range-form { font-size: 10px;  margin-bottom: 10px;}
#aoe_solr .b-range-form-text { border: 1px solid #acaeb1; outline: none; background: #fff; color: #444; font-size: 10px; height: 18px; width: 30px; padding: 2px 2px; margin: 0 1px 0 0; display: inline;}
#aoe_solr .range-filter .bu-small { float: right; }

#aoe_solr .bu-small {
	background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
	border: 1px solid gainsboro;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 1px 0 0 #FFFFFF inset;
	color: #777777;
	display: inline-block;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	margin-top: -2px;
	padding: 4px 6px;
	text-decoration: none;
	text-shadow: 1px 1px 0 white;
	cursor: pointer;
	margin: 0 !important;
	overflow: visible;
}
