



/* HM
----------*/


#page { margin: 10px auto 10px auto; position:relative;
    background-color: #EFE9DB;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 0px 0px 12px #aaaaaa;
-webkit-box-shadow: 0px 0px 12px #aaaaaa;
box-shadow: 0px 0px 12px #aaaaaa;
	width: 931px!important;
	padding: 0 0px 0 0px!important;
}

.hmshadow {
background-color: #ffffff;
-moz-box-shadow: 0px 5px 5px 2px #eeeeee;
-webkit-box-shadow: 0px 5px 5px 2px #eeeeee;
box-shadow: 0px 5px 5px 2px #eeeeee;
filter: progid: DXImageTransform.Microsoft.Shadow(strength = 5, direction = 180, color = '#cccccc');
-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 180, Color = '#cccccc')";
border: 1px solid #dddddd

}

#aoe_solr .l-content { width: 630px!important; margin: 0 0 10px 15px!important}
#aoe_solr .productdocument { height: 265px; overflow: hidden; width: 263px; float:left; margin: 10px 30px 10px 10px; text-align: center; padding: 4px }
#aoe_solr #content .productdocument h2 {clear: both; margin: 5px 0 0 0!important; font-size: 14px}
#aoe_solr .productdocument .b-item-pic {width:162px;}
#aoe_solr .productdocument .document-top img {max-width:77px;}
#aoe_solr .productdocument p { font-size: 11px; color: #aaaaaa; margin: 0 5px 0 5px }

#aoe_solr .b-filter-head {font-weight: bold; background-color: #21959E; color:#fff;}


#aoe_solr .lastsearches-c {display:none; position: absolute; left: 279px; top: 15px; font-size: 11px; color: #9A9A9A;}
#aoe_solr .b-search-form-notes { top: 74px;}

/* List type select
--------------------------------------- */

#aoe_solr .sort:after             { clear: both; }
#aoe_solr .sort {margin: 10px 55px 0 0 }
#aoe_solr .list-select                                         { border:1px solid #e8e8e8; border-top:1px solid #afafaf; border-radius:3px; margin:0;  height:5px; padding-top:15px; position:relative; z-index: 1000; color:#000; font-size:11px; min-width:130px; background: url("../../i/aoesearchperience/select.png") no-repeat scroll 110px 7px; background-color: white; }
#aoe_solr .list-select li                                      { list-style:none inside; visibility:hidden; background:#fff;  }
#aoe_solr .list-select li.unselected           { border:1px solid #e8e8e8; border-width:0 1px 1px 1px; margin:-3px -1px; border-radius:0 0 3px 3px; padding:3px 0;}
#aoe_solr .list-select li.selected             { visibility:visible; position:absolute; top:2px; }
#aoe_solr .list-select:hover                           { overflow:visible; }
#aoe_solr .list-select:hover li                        { visibility:visible;}

#aoe_solr .list-select li a                            { display:block; padding:0 10px 0 5px; color:#000; text-decoration:none; white-space:nowrap; }
#aoe_solr .list-select li.unselected a:hover                   { background:#f5f5f5;}

#aoe_solr .list-select:after                           { position:absolute; right:4px; top:9px; background-position:-256px -18px; width:7px; height:4px; margin:0;}

#aoe_solr .list-select li.selected:first-child + .unselected,
#aoe_solr .list-select li.unselected:first-child { padding-top:10px;}

#aoe_solr .sort .sorter                           { float:right; }
#aoe_solr .sort .sorter .label            { float:left; margin-right:10px; line-height:20px;}
#aoe_solr .sort .sorter .select           { float:right;}

/* Price range block
--------------------------------------- */

#aoe_solr .ui-slider { height: 35px; position: relative; background: url(../../i/aoesearchperience/ui-slider.png) no-repeat right 8px; margin: 0 6px 20px; }
#aoe_solr .ui-slider-handle { padding-top: 26px; height: 12px; width: 40px; background: url(../../i/aoesearchperience/ui-slider-handle.png) no-repeat top center; position: absolute; margin: 0 0 0 -20px; line-height: 11px; font-size: 11px; text-decoration: none; color: #000; text-align: center; }
#aoe_solr .ui-slider-handle span { position: absolute; top: 30px; }
#aoe_solr .ui-slider-first span { left: 35%; }
#aoe_solr .ui-slider-second span { right: 35%; }
#aoe_solr .ui-slider-range { background: #145C63; border-bottom: 3px solid #21959E; border-top: 1px solid #1B7A85; position: absolute; height: 1px; top: 8px; }
#aoe_solr .ui-slider-min,
#aoe_solr .ui-slider-max { display: none; }
#aoe_solr .range-form { font-size: 10px;  margin-bottom: 10px;}
#aoe_solr .b-range-form-text { border: 1px solid #acaeb1; outline: none; background: #fff; color: #444; font-size: 10px; height: 18px; width: 30px; padding: 2px 2px; margin: 0 1px 0 0; display: inline;}
#aoe_solr .range-filter .bu-small { float: right; }


/* Navigation block
------------------------------ */

#aoe_solr .b-nav-tree a {  color: #145C63;  }
#aoe_solr .b-nav-tree ul > li > .i { background: #1B7A85; }
#aoe_solr .b-nav-tree ul li .i { background: #1B7A85;  }
#aoe_solr .b-nav-tree a:hover {color: #002d13;}
#aoe_solr .b-nav-tree a:hover {background: white;}


#aoe_solr #nav-bar .b-filter {
	background-color: #FCFCFC;
}

#section {
	padding: 0 20px 0 20px!important;
}

/* Pager block
------------------------------ */
#aoe_solr .paging { font-size: 13px; margin: 0 0 20px 0; padding: 10px 0 0 0; border-top: 1px solid #acaeb1; }
#aoe_solr .paging a { text-decoration: none; color: #1B7A85!important; }
#aoe_solr .paging a:hover { text-decoration: underline; }
#aoe_solr .paging li { list-style: none; display: inline; padding: 0 4px 0 0; }

.b-logo {
	padding: 20px;
}

.b-simple-tabs .b-filter {
	background-color: #EFE9DB;
}

.b-simple-tabs {
	padding-left: 230px;
	border-bottom: 2px solid #CCCCCC;
}

#facet-pagetype .cur {
	background: none repeat scroll 0 0 #29BCC7;
	color: #FFF;
}
