<?xml version="1.0" ?>
<config>
    <modules>
        <Aoe_Searchperience>
            <version>0.2.0</version>
        </Aoe_Searchperience>
    </modules>
    <admin>
        <routers>
            <aoe_searchperience>
                <use>admin</use>
                <args>
                    <module>Aoe_Searchperience</module>
                    <frontName>searchperience</frontName>
                </args>
            </aoe_searchperience>
        </routers>
    </admin>
    <global>
        <blocks>
            <aoe_searchperience>
                <class>Aoe_Searchperience_Block</class>
            </aoe_searchperience>
        </blocks>
        <helpers>
            <aoe_searchperience>
                <class>Aoe_Searchperience_Helper</class>
            </aoe_searchperience>
        </helpers>
        <models>
            <aoe_searchperience>
                <class>Aoe_Searchperience_Model</class>
                <resourceModel>aoe_searchperience_resource</resourceModel>
            </aoe_searchperience>
            <aoe_searchperience_resource>
                <class>Aoe_Searchperience_Model_Resource</class>
                <entities>
                    <queue_item>
                        <table>aoesearchperience_queue_item</table>
                    </queue_item>
                </entities>
            </aoe_searchperience_resource>
            <enterprise_search>
                <rewrite>
                    <adminhtml_system_config_source_engine>Aoe_Searchperience_Model_Adminhtml_System_Config_Source_Engine</adminhtml_system_config_source_engine>
                    <adminhtml_system_config_backend_engine>Aoe_Searchperience_Model_Adminhtml_System_Config_Backend_Engine</adminhtml_system_config_backend_engine>
                </rewrite>
            </enterprise_search>
        </models>
        <resources>
            <aoe_searchperience_setup>
                <setup>
                    <module>Aoe_Searchperience</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aoe_searchperience_setup>
        </resources>
    </global>

    <frontend>
        <layout>
            <updates>
                <aoe_searchperience>
                    <file>aoe_searchperience.xml</file>
                </aoe_searchperience>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <searchperienece>
                    <file>searchperience/searchperience.xml</file>
                </searchperienece>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <searchperience>
            <searchperience_config_js>
                <enableInnerShiv>false</enableInnerShiv>
                <doWidgetInit>false</doWidgetInit>
                <aoeSolrDataTypeSuggest>jsonp</aoeSolrDataTypeSuggest>
                <aoeSolrDataTypeLivesearch>jsonp</aoeSolrDataTypeLivesearch>
                <aoeSolrDataTypeSearch>jsonp</aoeSolrDataTypeSearch>
                <aoeSolrDataTypeLiveSuggest>jsonp</aoeSolrDataTypeLiveSuggest>
                <SolrAutosuggestSelector>input.solr-suggest-field_disabled</SolrAutosuggestSelector>
                <aoeSolrSearchfieldSelector>input#search</aoeSolrSearchfieldSelector>
                <aoeSolrLivesuggestSelector>input#search</aoeSolrLivesuggestSelector>
                <aoeSolrForceOnlyFilenameFromAppendix>true</aoeSolrForceOnlyFilenameFromAppendix>
                <aoeSolrProfilerEnable>true</aoeSolrProfilerEnable>
                <solrSelctionContainerSelector>.page div.main</solrSelctionContainerSelector>
                <aoeSolrInitRemoteWidgets>false</aoeSolrInitRemoteWidgets>
                <aoeSolrLiveSuggestOffsetTop>0</aoeSolrLiveSuggestOffsetTop>
                <aoeSolrLiveSuggestOffetLeft>0</aoeSolrLiveSuggestOffetLeft>
                <aoeSolrLiveSuggestWidth>500</aoeSolrLiveSuggestWidth>
                <aoeSolrSearchPid>0</aoeSolrSearchPid>
                <aoeSolrParentContainerSelector>.page div.main</aoeSolrParentContainerSelector>
            </searchperience_config_js>
            <searchperience>
                <source>magento</source>
                <remote_js>http://qvc.deploy.saascluster.aoe-works.de/fileadmin/qvc.js</remote_js>
            </searchperience>
        </searchperience>
    </default>
</config>