<?xml version="1.0" ?>
<config>
    <modules>
        <Aoe_Searchperience>
            <version>1.13.2.0</version>
        </Aoe_Searchperience>
    </modules>
    <admin>
        <routers>
            <aoe_searchperience>
                <use>admin</use>
                <args>
                    <module>Aoe_Searchperience</module>
                    <frontName>searchperience</frontName>
                </args>
            </aoe_searchperience>
        </routers>
    </admin>
    <global>
        <blocks>
            <aoe_searchperience>
                <class>Aoe_Searchperience_Block</class>
            </aoe_searchperience>
        </blocks>
        <helpers>
            <aoe_searchperience>
                <class>Aoe_Searchperience_Helper</class>
            </aoe_searchperience>
        </helpers>
        <models>
            <catalogsearch_resource>
                <rewrite>
                    <!--<fulltext>Aoe_Searchperience_Model_Resource_Fulltext</fulltext>-->
                    <fulltext>Aoe_Searchperience_Model_Resource_Fulltext_Threadi</fulltext>
                </rewrite>
            </catalogsearch_resource>
            <aoe_searchperience>
                <class>Aoe_Searchperience_Model</class>
                <resourceModel>aoe_searchperience_resource</resourceModel>
            </aoe_searchperience>
            <aoe_searchperience_resource>
                <class>Aoe_Searchperience_Model_Resource</class>
                <rewrite>
                    <!--<fulltext>Aoe_Searchperience_Model_Resource_Fulltext</fulltext>-->
                    <fulltext>Aoe_Searchperience_Model_Resource_Fulltext_Threadi</fulltext>
                </rewrite>
            </aoe_searchperience_resource>
            <enterprise_search>
                <rewrite>
                    <adminhtml_system_config_source_engine>Aoe_Searchperience_Model_Adminhtml_System_Config_Source_Engine</adminhtml_system_config_source_engine>
                    <adminhtml_system_config_backend_engine>Aoe_Searchperience_Model_Adminhtml_System_Config_Backend_Engine</adminhtml_system_config_backend_engine>
                </rewrite>
            </enterprise_search>
            <enterprise_index>
                <rewrite>
                    <resource_lock_resource>Aoe_Searchperience_Model_Resource_Lock_Resource</resource_lock_resource>
                </rewrite>
            </enterprise_index>
            <!--<enterprise_catalogsearch>
                <rewrite>
                    <indexer_fulltext>Aoe_Searchperience_Model_Indexer_Fulltext</indexer_fulltext>
                </rewrite>
            </enterprise_catalogsearch>-->
        </models>
        <resources>
            <aoe_searchperience_setup>
                <setup>
                    <module>Aoe_Searchperience</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aoe_searchperience_setup>
        </resources>
        <events>
            <catalogsearch_searchable_attributes_load_after>
                <observers>
                    <searchperience>
                        <class>aoe_searchperience/observer</class>
                        <method>storeSearchableAttributes</method>
                    </searchperience>
                </observers>
            </catalogsearch_searchable_attributes_load_after>

            <!--<aoe_searchperience_prepareIndexProductData_after/>-->
        </events>

        <index>
            <indexer>
                <catalogsearch_fulltext>
                    <model>aoe_searchperience/indexer_fulltext</model>
                    <action_model>
                        <changelog>aoe_searchperience/index_action_searchperience_refresh_changelog</changelog>
                        <all>aoe_searchperience/index_action_searchperience_refresh</all>
                    </action_model>
                    <index_table>catalogsearch_fulltext</index_table>
                    <sort_order>100</sort_order>
                </catalogsearch_fulltext>
            </indexer>
        </index>

        <aoe_logviewer>
            <logs>
                <searchperience.log>
                    <label>searchperience.log</label>
                    <file_path>###LOGDIR###/searchperience.log</file_path>
                    <model>aoe_logviewer/log_file</model>
                    <sort_order>10</sort_order>
                    <!--<disabled>1</disabled>-->
                    <commands>
                        <tail>
                            <label>Last n lines (newest first)</label>
                            <command_string>tail -n %2$s '%1$s' | tac</command_string>
                            <model>aoe_logviewer/command_shell</model>
                            <sort_order>10</sort_order>
                            <!--<disabled>1</disabled>-->
                        </tail>
                        <tail_err>
                            <label>Last n error lines (newest first)</label>
                            <command_string>grep 'ERR (3)' '%1$s' | tail -n %2$s | tac</command_string>
                            <model>aoe_logviewer/command_shell</model>
                            <sort_order>20</sort_order>
                        </tail_err>
                        <duplicates>
                            <label>Find duplicates</label>
                            <command_string>cat '%1$s' | cut -c27- | sort | uniq -c | sort -rn | head -n %2$s</command_string>
                            <model>aoe_logviewer/command_shell</model>
                            <sort_order>30</sort_order>
                        </duplicates>
                    </commands>
                </searchperience.log>
            </logs>
        </aoe_logviewer>

    </global>

    <frontend>
        <layout>
            <updates>
                <aoe_searchperience>
                    <file>aoe_searchperience.xml</file>
                </aoe_searchperience>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <searchperienece>
                    <file>searchperience/searchperience.xml</file>
                </searchperienece>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <searchperience>
            <searchperience_config_js>
                <enableInnerShiv>0</enableInnerShiv>
                <doWidgetInit>0</doWidgetInit>
                <aoeSolrDataTypeSuggest>jsonp</aoeSolrDataTypeSuggest>
                <aoeSolrDataTypeLivesearch>jsonp</aoeSolrDataTypeLivesearch>
                <aoeSolrDataTypeSearch>jsonp</aoeSolrDataTypeSearch>
                <aoeSolrDataTypeLiveSuggest>jsonp</aoeSolrDataTypeLiveSuggest>
                <SolrAutosuggestSelector>input.solr-suggest-field_disabled</SolrAutosuggestSelector>
                <aoeSolrSearchfieldSelector>input#search</aoeSolrSearchfieldSelector>
                <aoeSolrLivesuggestSelector>input#search</aoeSolrLivesuggestSelector>
                <aoeSolrForceOnlyFilenameFromAppendix>true</aoeSolrForceOnlyFilenameFromAppendix>
                <aoeSolrProfilerEnable>true</aoeSolrProfilerEnable>
                <solrSelctionContainerSelector>.page div.main</solrSelctionContainerSelector>
                <aoeSolrInitRemoteWidgets>false</aoeSolrInitRemoteWidgets>
                <aoeSolrLiveSuggestOffsetTop>0</aoeSolrLiveSuggestOffsetTop>
                <aoeSolrLiveSuggestOffetLeft>0</aoeSolrLiveSuggestOffetLeft>
                <aoeSolrLiveSuggestWidth>500</aoeSolrLiveSuggestWidth>
                <aoeSolrSearchPid>0</aoeSolrSearchPid>
                <aoeSolrParentContainerSelector>.page div.main</aoeSolrParentContainerSelector>
            </searchperience_config_js>
            <searchperience>
                <source>magento</source>
                <listViewImageWidth>201</listViewImageWidth>
                <listViewImageHeight>201</listViewImageHeight>
                <enableDocumentDeletion>0</enableDocumentDeletion>
                <enableRecommendationTracking>0</enableRecommendationTracking>
                <enablePushingDocumentsToSearchperience>1</enablePushingDocumentsToSearchperience>
                <changelogIndexBatchSize>1000</changelogIndexBatchSize>
                <indexerBatchSize>100</indexerBatchSize>
                <threadPoolSize>1</threadPoolSize>
                <enableWidgets>0</enableWidgets>
            </searchperience>
            <include_data>
                <rating>1</rating>
                <prices>1</prices>
                <images>1</images>
                <categories>1</categories>
                <related>1</related>
                <upsell>1</upsell>
                <cross>1</cross>
            </include_data>
        </searchperience>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Aoe_Searchperience/>
            </modules>
        </suite>
    </phpunit>
</config>
