<?xml version="1.0" ?>
<config>
    <sections>
        <searchperience translate="label" module="aoe_searchperience">
            <label>
                <![CDATA[<img class="sp_logo" src="/skin/adminhtml/default/default/images/searchperience/searchperience-logo.png" alt="Searchperience" />]]></label>
            <tab>general</tab>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <searchperience_info>
                    <frontend_model>aoe_searchperience/adminhtml_system_config_fieldset_info</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </searchperience_info>
                <searchperience translate="label" module="aoe_searchperience">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <api translate="label, comment" module="aoe_searchperience">
                            <label>Server</label>
                            <comment>address of Searchperience API</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                        </api>
                        <token translate="label, comment" module="aoe_searchperience">
                            <label>Authentication token</label>
                            <comment>currently not used</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                        </token>
                        <source translate="label, comment" module="aoe_searchperience">
                            <label>Document source</label>
                            <comment>Document source, submitted to Searchperience API</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>30</sort_order>
                        </source>
                    </fields>
                </searchperience>
                <connection_settings translate="label" module="aoe_searchperience">
                    <label>Connection settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <customer_key translate="label, comment" module="aoe_searchperience">
                            <label>Customer key</label>
                            <comment>Searchperience API customer key</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                        </customer_key>
                        <username translate="label, comment" module="aoe_searchperience">
                            <label>Username</label>
                            <comment>Searchperience API username</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                        </username>
                        <password translate="label, comment" module="aoe_searchperience">
                            <label>Password</label>
                            <comment>Searchperience API password</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>30</sort_order>
                        </password>
                    </fields>
                </connection_settings>
            </groups>
        </searchperience>

        <!--<catalog>-->
            <!--<groups>-->
                <!--<search>-->
                    <!--<fields>-->
                        <!--<alternate_engine translate="label">-->
                            <!--<label>Alternative Search Engine</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<backend_model>aoe_searchperience/adminhtml_system_config_backend_engine</backend_model>-->
                            <!--<source_model>aoe_searchperience/adminhtml_system_config_source_engine</source_model>-->
                            <!--<sort_order>19</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>0</show_in_website>-->
                            <!--<show_in_store>0</show_in_store>-->
                        <!--</alternate_engine>-->
                    <!--</fields>-->
                <!--</search>-->
            <!--</groups>-->
        <!--</catalog>-->
    </sections>
</config>