/* searchperience logo in config column */
ul.tabs a.active span .sp_logo,
ul.tabs a:hover.active span .sp_logo,
ul.tabs span .sp_logo
                                    { margin-top: 4px; height: 24px !important; }

/* searchperience part in magento config */
.content-header h3 .sp_logo         { margin-top: -6px; }
.sp_info, .sp_info fieldset         { overflow: hidden; text-align: center; }
.sp_info a                          { color: black; font-weight: bold; text-decoration: underline; }
.sp_info .sp_learnmore              { margin-top: 5px; padding-top: 10px; border-top: 1px solid #D6D6D6; }
